# Virtual Environment
venv/

# Compiled Python files
*.pyc

# PyCharm project settings
.idea/

# Environment variables
.env

#TODO: add to environment variables. Temporarily stored in a `.py` module.
# OpenAI API KEY & db connection params
secret.py

# JetBrains Qodana
qodana.yaml